@import '../../__config.scss';
footer{
    padding:20px 0;
    background-color:#121212;
}
.footer {
 /* max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;*/
 display:flex;
 flex-direction:row;
 justify-content:space-between;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__p {
    font-size: 16px;
    font-weight: $regular;
    padding: 50px 0;
  }

  &__social {
      margin-top:auto;
      margin-bottom:auto;
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__item {
        padding: 0 10px;
        &__link{
            img{
                vertical-align:middle;
            }
        }
      }
    }
  }

  &__copyright {
    font-size: 16px;
    font-weight: $normal;
    color:$linkcolor;
   
    padding: 50px 0;
  }
}
@media only screen and (max-width:575px){
    footer{
        padding:50px 0;
    }
    .footer{
        flex-direction:column;
        &__social{
            margin:20px 0 0 0;
        }
        &__copyright{
            text-align:center;
            padding:20px 0;
        }
    }
}
@media only screen and (min-width:576px) and (max-width:767px){
  footer {
    padding: 50px 0;
  }

  .footer {
    flex-direction: column;

    &__social {
      margin: 20px 0 0 0;
    }

    &__copyright {
      text-align: center;
      padding: 20px 0;
    }
  }

}
@media only screen and (min-width:768px) and (max-width:991px){
  footer {
    padding: 50px 0;
  }

  .footer {
    flex-direction: column;

    &__social {
      margin: 20px 0 0 0;
    }

    &__copyright {
      text-align: center;
      padding: 20px 0;
    }
  }
}
