@import '../../__config.scss';
header {
  position: inherit;
  top:0;
  right:0;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.navbar-left {
  display: flex;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.navbar-menu{
   display:flex;
   justify-content:center;
   align-items:center;
    &__list{
        list-style:none;
        display:flex;
        flex-direction:row;
        &__item{
            padding:0 20px;
            &__link{
                color:$linkcolor;
                line-height:1;
                font-size:20px;
                font-weight:500;
            }
        }
    }
}
.responsive-menu{
    display:none;
}
.navbar-right {
  display: flex;
  align-items: center;

  &__language {
    border: 2px solid $linkcolor;
    border-radius: 2rem;
    padding: 14px 50px 14px 30px;
    display: flex;
    position: relative;

    &__options {
      margin: 0;
      color: $linkcolor;
      line-height: 1;
      font-size: 20px;
      font-weight: 500;
    }

    &__arrow {
      display: block;
      border-bottom: 3px solid #a1abbd;
      border-right: 3px solid #a1abbd;
      height: 10px;
      pointer-events: none;
      position: absolute;
      right: 28px;
      top: 19px;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate( 45deg );
      -ms-transform: rotate(45deg);
      transform: rotate( 45deg );
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      width: 10px;
    }
  }
}
@media only screen and (max-width:575px){
    .navbar-left{
        grid-area:left;
        justify-content:center;
    }
    .responsive-menu{
        grid-area:menu;
    }
    .navbar-right{
        grid-area:right;
    }
  .navbar {
    display: grid;
    grid-template-columns:1fr 1fr;
   grid-template-areas:'left left' 'menu right';
   justify-content:normal;
  }
    .navbar-menu{
        display:none;
    }
    .responsive-menu{
        display:flex;
        align-items:center;
        justify-content:center;

    }
    .navbar-right{
        justify-content:center;
    }
  .mobile-menu {
    position: fixed;
    top: 120px;
    left: 5%;
    right: 5%;
    bottom: 20%;
    background-color: #000000;
    z-index: 999;
    width:100%;
    height:auto;
    &__list{
        list-style:none;
        display:flex;
        flex-direction:column;
        &__item{
            padding:10px 0;
            text-align:left;

        }
    }

  }
}
@media only screen and (min-width:576px) and (max-width:767px){
  .navbar-left {
    grid-area: left;
    justify-content: center;
  }

  .responsive-menu {
    grid-area: menu;
  }

  .navbar-right {
    grid-area: right;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'left menu right';
    justify-content: normal;
  }

  .navbar-menu {
    display: none;
  }

  .responsive-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-right {
    justify-content: center;
  }

  .mobile-menu {
    position: fixed;
    top: 120px;
    left: 5%;
    right: 5%;
    bottom: 20%;
    background-color: #000000;
    z-index: 999;
    width: 100%;
    height: auto;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;

      &__item {
        padding: 10px 0;
        text-align: left;
      }
    }
  }
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .navbar-left {
    grid-area: left;
    justify-content: center;
  }

  .responsive-menu {
    grid-area: menu;
  }

  .navbar-right {
    grid-area: right;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'left menu right';
    justify-content: normal;
  }

  .navbar-menu {
    display: none;
  }

  .responsive-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-right {
    justify-content: center;
  }

  .mobile-menu {
    position: fixed;
    top: 120px;
    left: 5%;
    right: 5%;
    bottom: 20%;
    background-color: #000000;
    z-index: 999;
    width: 100%;
    height: auto;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;

      &__item {
        padding: 10px 0;
        text-align: left;
      }
    }
  }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;

      &__item {
        padding: 0 10px;

        &__link {
          color: $linkcolor;
          line-height: 1;
          font-size: 14px;
          white-space:nowrap;
          font-weight: 500;
        }
      }
    }
  }
}
@media only screen and (min-width:1200px) and (max-width:1399px){
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;

      &__item {
        padding: 0 10px;

        &__link {
          color: $linkcolor;
          line-height: 1;
          font-size: 18px;
          white-space: nowrap;
          font-weight: 500;
        }
      }
    }
  }
}
