<div class="banner">
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-xxl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="banner-image">
          <img class="banner-image__responsive" src="../../../assets/banner.png" alt="..." />
        </div>
      </div>
      <div class="col-xxl-7 col-lg-12  col-md-12 col-sm-12 col-xs-12">
        <div class="banner-title">
          <h2 class="banner-title__h2">
            Cryptocurrency
          </h2>
          <h2 class="banner-title__strong">
            investments
          </h2>
          <p class="banner-title__yellow">Blockchain solutions</p>
          <a class="banner-title__button">Whitepaper</a>

        </div>
      </div>
    </div>
  </div>

</div>

