<div class="banner">
  <div class="row">
    <div class="col-xxl-5 col-xs-12">
      <div class="banner-image">
        <img class="banner-image__responsive" src="../../../assets/banner.png" alt="..." />
      </div>
    </div>
    <div class="col-xxl-7 col-xs-12">
      <div class="banner-title">
        <h2 class="banner-title__h2">
          Cryptocurrency
        </h2>
        <h2 class="banner-title__strong">
          investments
        </h2>
        <p class="banner-title__yellow">Blockchain solutions</p>
        <a class="banner-title__button">Details</a>

      </div>
    </div>
  </div>
</div>

