@import '../../../__config.scss';


.buy {
  padding: 200px 0;


  &__dots {
    text-align: left;
  }

  &__body {
    &__h2 {
      text-align: left;
      font-size: 60px;
      font-weight: $regular;
      color: $titlecolor;
      margin: 20px 0;
      line-height: 1.3;
      position:relative;
      &::after{
          position:absolute;
          left:0;
          bottom:0;
          width:100px;
          height:4px;
          background-color:$naryexcolor;
          content:'';
      }

      strong {
        font-weight: $normal;
        font-size: 70px;
        color: $titlecolor;
        letter-spacing: -1px;

        &::after {
          content: '.';
          color: $naryexcolor;
        }
      }
    }

    &__p {
      color: $pcolor;
      font-size: 1.375rem;
      line-height: 1.6;
      font-weight: $normal;
    }

    &__small {
      color: $pcolor;
      font-size: 16px;
      line-height: 1.6;
      font-weight: $regular;
      margin: 50px 0;
    }

    &__people {
      display: flex;
      flex-direction: row;

      img {
        vertical-align: middle;
        max-width: 100%;
        height: 70px;
      }

      &__text {
        display: flex;
        flex-direction: column;
        margin-left: 35px;

        &__h2 {
          margin: 0;
          font-size: 48px;
          color: #da9a0a;
          font-weight: 600;
          line-height: 1;

          span {
            color: #616161;
          }
        }

        strong {
          font-weight: 600;
          font-size: 23px;
          color: #ffffff;
          letter-spacing: -0.02em;
        }
      }
    }
  }

  &__form {
    padding: 80px;
    background-color: #141519;
    border-radius: 30px;

    &__body {
      &__h6 {
        text-align: center;
        font-size: 26px;
        font-weight: $bold;
        color: #ffffff;
        line-height: 1.3;
        margin-bottom: 50px;
      }

      &__countdown {
        display: flex;
        flex-direction: row;
        justify-content:center;
        width: 100%;
        gap:1rem;

        &__days {
          display: flex;
          flex-direction: column;
         
          width: 20%;

          &__h4 {
            /*  margin: 0;
            padding: 0;
            display: block;*/
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid $naryexcolor; /* Blue */
            border-radius: 50%;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1;
            font-weight: 700;
            font-size: 36px;
            color: #fff;
            margin: 0;
          }

          &__span {
            font-size: 16px;
            font-weight: $normal;
            color: $titlecolor;
            text-align: center;
          }
        }

        &__hours {
          display: flex;
          flex-direction: column;
       
          /*padding: 0 10px;*/
          width: 20%;

          &__h4 {
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid $naryexcolor; /* Blue */
            border-radius: 50%;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1;
            font-weight: 700;
            font-size: 36px;
            color: #fff;
            margin: 0;
          }

          &__span {
            font-size: 16px;
            font-weight: $normal;
            color: $titlecolor;
            text-align: center;
          }
        }

        &__minutes {
          display: flex;
          flex-direction: column;
          
          /* padding: 0 10px;*/
          width: 20%;

          &__h4 {
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid $naryexcolor; /* Blue */
            border-radius: 50%;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1;
            font-weight: 700;
            font-size: 36px;
            color: #fff;
            margin: 0;
          }

          &__span {
            font-size: 16px;
            font-weight: $normal;
            color: $titlecolor;
            text-align: center;
          }
        }

        &__seconds {
          display: flex;
          flex-direction: column;
          
          /*  padding: 0 10px;*/
          width: 20%;

          &__h4 {
            border: 4px solid #f3f3f3; 
            border-top: 4px solid $naryexcolor; 
            border-radius: 50%;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1;
            font-weight: 700;
            font-size: 36px;
            color: #fff;
            margin: 0;
          }

          &__span {
            font-size: 16px;
            font-weight: $normal;
            color: $titlecolor;
            text-align: center;
          }
        }
      }

      &__button {
        text-align: center;
        margin-top: 50px;

        &__buy {
          display: inline-block;
          padding: 10px 27px;
          border-radius: 30px;
          color: $titlecolor;
          font-size: 18px;
          background-color: $naryexcolor;
          border: 4px solid $naryexcolor;
          font-weight: $normal;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: transparent;
            color: $naryexcolor;
            border: 4px solid $naryexcolor;
          }
        }
      }

      &__volume {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;

        &__price {
          font-size: 14px;
          color: $titlecolor;
          font-weight: $normal;
        }

        &__amount {
          color: $naryexcolor;
          font-weight: $regular;
          font-size: 14px;
        }
      }

      &__meter {
        height: 20px;
        background-color: transparent;
        border: 4px solid #3d434f;
        border-radius: 10px;
        margin-left: 0;
        position: relative;
        margin: 15px 0;

        &__span {
          width: 50%;
          opacity: 1;
          height: 6px;
          bottom: 3px;
          left: 3px;
          border-radius: 5px;
          background-color: $naryexcolor;
          position: absolute;
        }
      }

      &__hardcap {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;

        &__span {
          font-size: 14px;
          color: $titlecolor;
          font-weight: $regular;

          small {
            font-size: 14px;
            color: #a1abbd;
            font-weight: $thin;
          }
        }
      }

      &__token {
        display: flex;
        justify-content: space-between;
        margin: 70px 0 0 10px;

        &__text {
          display: flex;
          flex-direction: column;

          &__price {
            margin: 0;
            font-size: 16px;
            color: #a1abbd;
          }

          &__value {
            margin: 0;
            font-weight: $bold;
            font-size: 22px;
            color: $linkcolor;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:575px){
  .buy {
    padding: 20px 0;

    &__dots {
      text-align: center;
    }

    &__form {
      padding: 80px 20px;

      &__body {

        &__countdown {
          gap: 0.5rem;

          &__days {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }

          &__hours {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }

          &__minutes {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }

          &__seconds {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }
        }
      }
    }

    &__body {
      &__h2 {
        font-size: 2.5em;
        text-align: center;
      &::after{
          display:none;
      }

        strong {
          font-size: 2.6em;
        }
      }
      &__p{
          text-align:center;
      }
      &__small{
          text-align:center;
      }

      &__people {
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (min-width:576px) and (max-width:767px){
  .buy {
    padding: 20px 0;

    &__dots {
      text-align: center;
    }

    &__form {
      padding: 80px 20px;

      &__body {

        &__countdown {
          gap: 0.5rem;

          &__days {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }

          &__hours {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }

          &__minutes {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }

          &__seconds {
            width: 25%;

            &__h4 {
            }

            &__span {
            }
          }
        }
      }
    }

    &__body {
      &__h2 {
        font-size: 2.5em;
        text-align: center;
        line-height:1.6;
        &::after{
            left:40%;
        }

        strong {
         
        }
      }

      &__p {
        text-align: center;
      }

      &__small {
        text-align: center;
      }

      &__people {
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .buy {
    padding: 20px 0;

    &__dots {
      text-align: center;
    }

    &__form {
      padding: 80px 40px;

      &__body {

        &__countdown {
          gap: 0.5rem;

          &__days {
            width: 20%;

            &__h4 {
            }

            &__span {
            }
          }

          &__hours {
            width: 20%;

            &__h4 {
            }

            &__span {
            }
          }

          &__minutes {
            width: 20%;

            &__h4 {
            }

            &__span {
            }
          }

          &__seconds {
            width: 20%;

            &__h4 {
            }

            &__span {
            }
          }
        }
      }
    }

    &__body {
      &__h2 {
        text-align: center;
        font-size:2.5em;
        line-height:1.6;

        &::after {
          left: 43%;
        }

        strong {
        }
      }

      &__p {
        text-align: center;
      }

      &__small {
        text-align: center;
      }

      &__people {
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
  .buy {
    padding: 20px 0;

    &__dots {
      text-align: center;
    }

    &__form {
      padding: 80px 40px;

      &__body {

        &__countdown {
          gap: 1rem;

          &__days {
            width: 20%;

            &__h4 {
              width: 80%;
              margin: auto;
            }

            &__span {
            }
          }

          &__hours {
            width: 20%;

            &__h4 {
              width: 80%;
              margin: auto;
            }

            &__span {
            }
          }

          &__minutes {
            width: 20%;

            &__h4 {
              width: 80%;
              margin: auto;
            }

            &__span {
            }
          }

          &__seconds {
            width: 20%;

            &__h4 {
              width: 80%;
              margin: auto;
            }

            &__span {
            }
          }
        }
      }
    }

    &__body {
      &__h2 {
        text-align: center;

        
          &::after {
            left: 45%;
          }
        

        strong {
        }
      }

      &__p {
        text-align: center;
      }

      &__small {
        text-align: center;
      }

      &__people {
        margin-bottom: 30px;
      }
    }
  }
}
