<div class="dashboard">
  <div class="container">
    <div class="dashboard__body">
      <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard__body__image from-left">
          <img src="../../../assets/pc.png" alt="..." />
        </div>
      </div>
      <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12  col-xs-12">
        <div class="dashboard__body__info">
          <h2 class="dashboard__body__info__h2 from-right">Babycoin ile<strong> Slicon Vadisi'nde gibi hissedin</strong></h2>
          <p class="dashboard__body__info__p from-right2">
            Peki, Her neyse, Bir ICO Tam Olarak Nedir? Şunu hayal edin: Siz bir Silikon Vadisi'siniz
            yeni bir kripto para birimi sistemi için harika bir fikirle başlangıç. Belki sen
            Ebeveyn/Bebek bakıcısı ödeme sistemini düzene sokmak istiyorsanız,
            dijital ve şifreli olun. Ne kadar güzel bir fikir! Adına BabyCoin diyelim. NS
            tek sorun insanların sana para vermesine ihtiyacın var, böylece gerçekten yapabilirsin
            para birimini yap. Şimdi, bir bankaya gidebilir veya bir girişimde bulunmayı deneyebilirsiniz.
            kapitalist yatırımcılar, ama ya para toplamak zorunda kalmadan para toplayabilirseniz?
            şirketteki herhangi bir mülkiyetinizden vazgeçiyor musunuz? ICO'ya girin.
          </p>
        </div>
      </div>

    </div>
  </div>
  
</div>
