<div class="dashboard">
  <div class="dashboard__body">
    <div class="col-xxl-6 col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard__body__image">
        <img src="../../../assets/pc.png" alt="..." />
      </div>
    </div>
    <div class="col-xxl-6 col-md-12 col-sm-12  col-xs-12">
      <div class="dashboard__body__info">
        <h2 class="dashboard__body__info__h2">Access<strong> analytical market & price data</strong></h2>
        <p class="dashboard__body__info__p">
          Investigationes demonstraverunt lectores legere elementum pulvinar etiam non quam lacus suspendisse risus nec feugiat in fermentum laoreet sit amet cursus.
        </p>
      </div>
    </div>
    
  </div>
</div>
