<div class="info">
  <div class="info__dot">
    <img src="../../../assets/dots.png" alt="..." />
  </div>
  <h2 class="info__h2">Life in the<strong> digital world</strong></h2>
  <p class="info__p">Blockchain Technology</p>
  <div class="info__body">
    <ul class="info__body__list">
      <li class="info__body__list__item">
        <div class="info__body__list__item__text">
          <h2 class="info__body__list__item__text__value">6386</h2>
          <h2 class="info__body__list__item__text__title">Market price</h2>
          <p class="info__body__list__item__text__parag">Claritas est etiam processus dynamicus, sequitur consuetudium lectorum.</p>
        </div>
      </li>
      <li class="info__body__list__item">
        <div class="info__body__list__item__text">
          <h2 class="info__body__list__item__text__value">16</h2>
          <h2 class="info__body__list__item__text__title">Average block size</h2>
          <p class="info__body__list__item__text__parag">Sem integer vitae justo eget magna. Eget nullam non nisi est sit amet. Nec ultrices dui sapien eget mi proin. Commodo sed egestas egestas.</p>
        </div>
      </li>
      <li class="info__body__list__item">
        <div class="info__body__list__item__text">
          <h2 class="info__body__list__item__text__value">8327</h2>
          <h2 class="info__body__list__item__text__title">Clients worldwide</h2>
          <p class="info__body__list__item__text__parag">Gravida rutrum quisque non tellus orci ac. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi.</p>
        </div>
      </li>
      <li class="info__body__list__item">
        <div class="info__body__list__item__text">
          <h2 class="info__body__list__item__text__value">2000</h2>
          <h2 class="info__body__list__item__text__title">Transactions</h2>
          <p class="info__body__list__item__text__parag">Feugiat in ante metus dictum at tempor commodo urna nunc id cursus.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
