<div class="info">
  <!--<div class="info__dot">
    <img src="../../../assets/dots.png" alt="..." />
  </div>-->
  <div class="container">
    <h2 class="info__h2 slide-in2">Naryex Coin<strong> Avantajları</strong></h2>
    <!--<p class="info__p">Blockchain Technology</p>-->
    <div class="info__body">
      <ul class="info__body__list">
        <li class="info__body__list__item">
          <div class="info__body__list__item__text">
            <div class="info__body__list__item__text__value from-left"><img src="../../../assets/email.svg" alt="..." /></div>
            <h2 class="info__body__list__item__text__title from-left2">Market price</h2>
            <p class="info__body__list__item__text__parag from-left2">Claritas est etiam processus dynamicus, sequitur consuetudium lectorum.</p>
          </div>
        </li>
        <li class="info__body__list__item">
          <div class="info__body__list__item__text">
            <div class="info__body__list__item__text__value slide-in"><img src="../../../assets/translate.svg" alt="..." /></div>
            <h2 class="info__body__list__item__text__title slide-in2">Average block size</h2>
            <p class="info__body__list__item__text__parag slide-in3">Sem integer vitae justo eget magna. Eget nullam non nisi est sit amet. Nec ultrices dui sapien eget mi proin. Commodo sed egestas egestas.</p>
          </div>
        </li>
        <li class="info__body__list__item">
          <div class="info__body__list__item__text">
            <div class="info__body__list__item__text__value slide-in"><img src="../../../assets/client.svg" alt="..." /></div>
            <h2 class="info__body__list__item__text__title slide-in2">Clients worldwide</h2>
            <p class="info__body__list__item__text__parag slide-in3">Gravida rutrum quisque non tellus orci ac. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi.</p>
          </div>
        </li>
        <li class="info__body__list__item">
          <div class="info__body__list__item__text">
            <div class="info__body__list__item__text__value from-right"><img src="../../../assets/transaction.svg" alt="..." /></div>
            <h2 class="info__body__list__item__text__title from-right2">Transactions</h2>
            <p class="info__body__list__item__text__parag from-right2">Feugiat in ante metus dictum at tempor commodo urna nunc id cursus.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
