<div class="mobile">
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-title">

          <h2 class="mobile-title__h2 from-left">Naryex<strong> {{'HOME.mobiletitle' | translate}}</strong></h2>
          <!--<h2 class="mobile-title__h22 from-left2"></h2>-->
        </div>
        <div class="mobile-parag">
          <p class="mobile-parag__p from-left">
          {{'HOME.mobileparag' | translate}}
          </p>
          <!--<p class="mobile-parag__small from-left2">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per laoreet sit amet cursus seacula qui mutationem consuetudium claritas est etiam processus dynamicus.</p>-->
          <!--<div class="mobile-store">
          <a class="mobile-store__button">
            <svg id="icon-apple" width="30" height="30" fill="#ffffff" viewBox="0 0 512 512">
              <path d="m68 188c-43 75-15 189 32 258 24 35 49 66 82 66 0 0 1 0 2 0 15-1 26-5 37-10 12-5 25-11 45-11 19 0 31 6 42 11 12 5 24 10 41 9 37 0 60-34 81-63 21-31 31-61 35-73l0 0c1-2 0-4-2-5 0 0 0 0-1 0-6-3-64-29-64-98-1-57 43-87 52-92l0-1c1 0 2-1 2-2 0-1 0-3-1-3-30-45-76-51-95-52-3 0-5-1-8-1-22 0-43 9-60 15-12 5-22 9-29 9-8 0-18-4-29-9-16-6-34-13-53-13 0 0 0 0-1 0-44 1-85 26-108 65z m288-188c-26 1-58 17-77 40-16 18-32 49-28 81 0 2 2 3 4 3 2 1 4 1 5 1 26 0 54-15 73-38 20-24 30-55 27-83 0-2-2-4-4-4z"></path>
            </svg>
            <div class="mobile-store__button__text">
              <span class="mobile-store__button__text__small">download on</span>
              <span class="mobile-store__button__text__bigger">Apple Store</span>
            </div>
          </a>
          <a class="mobile-store__button google">
            <svg id="icon-if-59-play-843782"  width="30" height="30" fill="#ffffff" viewBox="0 0 512 512">
              <path d="m353 162l-239-128c-13-7-26-7-38-3l204 204z m90 48l-69-37-78 78 78 78 69-37c32-18 32-64 0-82z m-385-166c-8 8-12 19-12 31l0 352c0 12 4 23 12 31l207-207z m18 427c12 4 25 3 38-3l239-128-73-73z"></path>
            </svg>
            <div class="mobile-store__button__text">
              <span class="mobile-store__button__text__small" style="color:#ffffff">download on</span>
              <span class="mobile-store__button__text__bigger">Google Play</span>
            </div>
          </a>
        </div>-->
        </div>
      </div>
      <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-phone from-right">
          <img src="../../../assets/phone.png" alt="..." />
        </div>
      </div>
    </div>
  </div>

</div>
